<launch>

	<node pkg="libhaloc" type="mono" name="mono_test" output="screen">

		<param name="output_path" value="$(find libhaloc)/data/" />
		<param name="img_dir" value="" /> <!-- Directory with all the images of your sequence -->
		<param name="gt_file" value="" /> <!-- Ground truth file: matrix of nxn (for n-images) where each position is set to 0 or 1. 1 means loop closure. -->

		<param name="desc_type" value="SIFT" />
		<param name="desc_thresh" value="0.87" />

		<param name="num_proj" value="3" />

		<param name="min_neighbour" value="11" />
		<param name="n_candidates" value="10" />
		<param name="min_matches" value="10" />
		<param name="min_inliers" value="10" />
		<param name="validate" value="true" />
		<param name="gt_tolerance" value="10" />

	</node>

</launch>
